<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Dog Shelter Gallery</title>
    <link rel="stylesheet" href="dogShelter.css" type="text/css">
    <script>
        async function displayRandomImage() {
            let response = await fetch("https://dog.ceo/api/breeds/image/random");
            let json = await response.json();

            document.querySelector("#image").src = json.message;
        }
    </script>
</head>

<body>
	<h1>Gallery🖼️</h1>
    <hr>
    <br>
    <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpYfXRaMRCOLGwgFPbyL1J-73hO54HzTErLg&s" alt="Dog Shelter Logo">
    <br>
    <button onClick="displayRandomImage()">Click to view a 🐶</button>
    <hr>
    <a href="/">Home</a>
</body>

</html>
