<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Dog Shelter Pending Applications</title>
    <link rel="stylesheet" href="dogShelter.css" type="text/css">
</head>

<body>
	<h1>Pending Applications📄</h1>
    <hr>
    <%- string %>

    
    <hr>
    <a href="/">Home</a>
</body>

</html>
